* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(13, 13, 13);
  height: 100%;
}
.mother {
  margin: 13px 50px;
}

.header {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1000px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.logo-name h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.image img {
  width: 40px;
  border-radius: 50%;
}
.body-image-mother {
  margin: 90px 0px;
}
.body-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 94px 0px 0px 0px;
}
.body-image img {
  width: 100px;
  border-radius: 50%;
}

.body-image h3 {
  color: white;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
}
.icon {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.question {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: auto;
  width: 100%;
  height: auto;
  white-space: nowrap;
  margin-top: 50px;
  /* max-width: 100%; */
}
.real-question {
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(24, 29, 34);
  padding: 12px 20px;
  border-radius: 30px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  border-radius: 30px;
  background-color: rgb(30, 35, 37);
  padding: 10px 17px;
  width: 95%;
  position: fixed;
  bottom: 20px;
}
form textarea {
  padding: 0px 0px 0px 10px;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  outline: none;
  resize: none;
  border-radius: 30px;
  border: none;
  color: white;
}
form textarea::placeholder {
  color: rgb(117, 114, 107);
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.send {
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  background-color: gray;
  padding: 6px 10px;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.AI-chat {
  position: absolute;
  left: 50px;
  top: 300px;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  width: auto;
  max-width: 70%;
}
.user-text {
  color: white;
  position: absolute;
  right: 50px;
  background-color: rgb(24, 29, 34);
  padding: 18px 15px;
  font-size: 16px;
  border-radius: 10px;
  width: auto;
  max-width: 70%;
}
.loading {
  margin-top: 120px;
  width: 3.125rem;
  aspect-ratio: 2;
  --_g: no-repeat
    radial-gradient(circle closest-side, rgb(180, 180, 180) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  position: absolute;
  left: 50px;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@media (max-width: 700px) {
  .mother {
    margin: 13px 20px;
  }
  .image img {
    width: 38px;
  }
  .header {
    width: 85%;
    position: fixed;
    max-width: 100%;
    gap: 0;
    justify-content: space-between;
  }

  .body-image {
    width: 100%;
    height: 100%;
    padding: 97px 0px 0px 0px;
    max-width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    justify-content: flex-start;
  }
  .logo-name h3 {
    font-size: 20px;
  }

  .real-question {
    font-size: 15px;
    padding: 10px 20px;
  }
  .question {
    margin: 0px 20px 0px 20px;
    max-width: 100%;
    gap: 11px;
    position: absolute;
    bottom: 200px;
  }
  form {
    margin: auto;
    bottom: 5px;
    left: 0;
    right: 0;
    position: fixed;
  }
  .body-image-mother {
    margin: 0px 0px;
    padding: 84px 0px;
    width: 100%;
    max-width: 100%;
  }

  .AI-chat {
    gap: 10px;
    left: 20px;
    width: auto;
    max-width: 70%;
  }
  .AI-text p {
    font-size: 15px;
  }
  .user-text {
    padding: 12px 15px;
    right: 20px;
    width: auto;
  }
  .user-chat p {
    font-size: 15px;
  }
  .loading {
    margin-top: 122px;
  }
}
