* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(13, 13, 13);
  height: 100%;
}
.mother {
  margin: 13px 50px;
}

.header {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1000px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.logo-name h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.image img {
  width: 40px;
  border-radius: 50%;
}
.body-image-mother {
  margin: 0px 0px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.center img {
  width: 100px;
  border-radius: 50%;
}

.center h3 {
  color: white;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
}
.icon {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.question {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: auto;
  width: 100%;
  height: auto;
  white-space: nowrap;
  margin-top: 50px;
  /* max-width: 100%; */
}
.real-question {
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(24, 29, 34);
  padding: 12px 20px;
  border-radius: 30px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  border-radius: 30px;
  background-color: rgb(30, 35, 37);
  padding: 10px 17px;
  width: 95%;
  position: fixed;
  bottom: 20px;
}
form textarea {
  padding: 0px 0px 0px 10px;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  outline: none;
  resize: none;
  border-radius: 30px;
  border: none;
  color: white;
}
form textarea::placeholder {
  color: rgb(117, 114, 107);
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.send {
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  background-color: gray;
  padding: 6px 10px;
  border: none;
}

.body-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 0%;
  padding: 0px 0px 0px 0px;
}
.chatmother {
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-y: auto;
  padding: 0px 0px 70px 0px;
}
.chatmother .ai-chat {
  color: white;
  display: flex;
  gap: 0;
  align-items: center;
  align-self: flex-start;
  justify-content: flex-start;
  width: auto;
  max-width: 70%;
  /* padding-top: 20px; */
}
.chatmother .user-text {
  color: white;
  display: flex;
  align-self: flex-end;
  background-color: rgb(24, 29, 34);
  padding: 18px 15px;
  font-size: 16px;
  border-radius: 10px;
  width: auto;
  max-width: 70%;
}
/* .user-text {
  width: auto;
  max-width: 70%;
  height: auto;
  align-self: flex-end;
  color: var(--clr);
  font-size: 0.88rem;
  padding: 1rem;
  background: var(--shade);
  border-radius: 1rem;
  color: white;
} */
.loading {
  margin-top: 120px;
  width: 3.125rem;
  aspect-ratio: 2;
  --_g: no-repeat
    radial-gradient(circle closest-side, rgb(180, 180, 180) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  position: absolute;
  left: 50px;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
.heads {
  display: flex;
  flex-direction: column;
}
.menus {
  color: white;
  display: flex;
  text-align: center;
  align-self: flex-end;
  flex-direction: column;
  background-color: rgb(24, 29, 34);
  width: 170px;
  padding: 20px 5px;
  border-radius: 15px;
  z-index: 10;
}
.menus .mehn {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 10px;
  cursor: pointer;
  margin-bottom: 6px;
}
.menus .mehn:hover {
  background-color: black;
  border-radius: 20px;
}
.iccon {
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
}

.developer {
  width: 95%;
  color: white;
  background-color: rgb(20, 21, 23);
  position: absolute;
  top: 50px;
  left: 0px;
  height: 100%;
  /* z-index: 9; */
  max-width: 100%;
  text-align: center;
  margin: 0px 50px;
  padding: 30px 10px;
}

.developer-image {
  padding-top: 40px;
}
.developer-images {
  padding-top: 100px;
}
.model {
  padding: 100px 20px;
}
.model p {
  font-size: 16px;
  padding-bottom: 20px;
}

.model ul {
  margin: 0;
  padding: 0;
}

.model ul li {
  font-size: 16px;
  padding-bottom: 3px;
}
.app-name h3 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 6px;
}
.app-name p {
  font-size: 18px;
  font-weight: 500;
}
.developer-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.developer-images img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.cancel {
  font-size: 25px;
  text-align: right;
  padding-right: 50px;
  cursor: pointer;
}
.developer-name h3 {
  font-size: 23px;
  padding-bottom: 20px;
}
.contents p {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
}
.links {
  text-align: center;
  font-size: 18px;
  /* margin-left: 50px; */
  max-width: 100%;
}
.links p {
  margin-top: 10px;
}
.links p a {
  color: blue;
}

.model {
  text-align: left;
  color: white;
}

@media (max-width: 700px) {
  .mother {
    margin: 13px 20px;
  }
  .image img {
    width: 38px;
  }
  .header {
    width: 95%;
    position: fixed;
    max-width: 100%;
    gap: 0;
    justify-content: space-between;
  }

  .body-image {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    max-width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    align-content: flex-start;
    justify-content: flex-start;
  }
  .logo-name h3 {
    font-size: 20px;
  }

  .real-question {
    font-size: 15px;
    padding: 10px 20px;
  }
  .question {
    margin: 100px 20px 0px 20px;
    max-width: 100%;
    gap: 11px;
    position: static;
    bottom: 0;
    justify-content: flex-end;
  }
  form {
    margin: auto;
    bottom: 5px;
    left: 0;
    right: 0;
    position: fixed;
  }
  /* .body-image-mother {
    margin: 0px 0px;
    padding: 84px 0px;
    width: 100%;
    max-width: 100%;
  } */
  .body-image-mother {
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    max-width: 100%;
  }
  .AI-chat {
    gap: 10px;
    left: 20px;
    width: auto;
    max-width: 70%;
  }
  .AI-text p {
    font-size: 15px;
  }
  .user-text {
    padding: 12px 15px;
    right: 20px;
    width: auto;
  }
  .user-chat p {
    font-size: 15px;
  }
  .loading {
    margin-top: 122px;
  }
  .center {
    margin-top: 0px;
    padding-top: 50px;
  }
  .chatmother .ai-chat {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .menus {
    width: 150px;
    gap: 0px;
    margin-top: 50px;
  }
  .developer {
    width: 93%;
    top: 50px;
    left: 0px;
    max-width: 100%;
    margin: 0px 18px;
    padding: 30px 30px;
  }
  .cancel {
    font-size: 20px;
    padding-right: 5px;
  }
  .developer-images img {
    max-width: 100%;
  }
  .developer-image img {
    max-width: 100%;
  }
  .developer-name h3 {
    font-size: 20px;
  }
  .contents p {
    font-size: 15px;
  }
  .links {
    font-size: 16px;
  }
}
